* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    background-color: lightcoral;
}

header {
    min-height: 8vh;
    padding: 1vh 0 ;
    background-color: bisque;
}

main {

}

.container {
    display: flex;
    width: 70vh;
    height: 60vh;
    margin: 10vh auto 20vh;
    flex-wrap: wrap;
}

div.red_btn {
    background-color: red;
    width: 35vh;
    height: 22vh;
    border-top-left-radius: 100%;
    border: 4px white groove;
}

div.blue_btn {
    background-color: blue;
    width: 35vh;
    height: 22vh;
    border-top-right-radius: 100%;
    border: 4px white groove;
}

div.yellow_btn {
    background-color: yellow;
    width: 70vh;
    min-height: 16vh;
    padding: 2vh;
    border: 4px white groove;
}

#start {
    font-size: 4vh;
    font-weight: bold;
    padding: 2vh;
    border-radius: 2vh;
    color: white;
    background-color: red;

}

div.green_btn {
    background-color: green;
    width: 35vh;
    height: 22vh;
    border-bottom-left-radius: 100%;
    border: 4px white groove;
}

div.purple_btn {
    background-color: purple;
    width: 35vh;
    height: 22vh;
    border-bottom-right-radius: 100%;
    border: 4px white groove;
}